<div>
  <table class="table" style="border-collapse: collapse;" border="2">
    <header>
      <th>First name</th>
      <th>Last name</th>
      <th>Country</th>
      <th>Nationality</th>
      <th>Mother's name</th>
      <th>Registered</th>
      <th>Gender</th>
      <th>Birth date</th>
      <th>Number</th>
      <th>Status</th>
    </header>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
