<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <div class="icon-bar">
    <a><button class="fa fa-plus" > New</button></a>
    <a><button class="fa fa-pencil" > Edit</button></a>
    <a><button class="fa fa-trash" > Delete</button></a>
  </div>
</body>
<app-search></app-search>
<body>


<!--div class="bevitel">
  <><input placeholder="First name"></b>
  <b><input></b>
  <b><input></b>
  <b><input></b>
  <b><input></b>
  <b><input></b>
  <b><input></b>
  <b><input></b>
  <b><input></b>
  <b><input></b>

</div-->
</body>
